$on-palm:           600px !default;
$on-laptop:         800px !default;

// typography
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');
$font__name:       'Amiri Quran', serif;
$font__size:        16px;
$font__weight:      400;
$font__line-height: 2;

@font-face {
    font-family: 'Apple Garamond';
    src: url('https://phoemelaballaran.github.io/assets/webfont/AppleGaramond.eot');
    src: url('https://phoemelaballaran.github.io/assets/webfont/AppleGaramond.eot?#iefix') format('embedded-opentype'),
        url('https://phoemelaballaran.github.io/assets/webfont/AppleGaramond.woff2') format('woff2'),
        url('https://phoemelaballaran.github.io/assets/webfont/AppleGaramond.woff') format('woff'),
        url('https://phoemelaballaran.github.io/assets/webfont/AppleGaramond.ttf') format('truetype'),
        url('https://phoemelaballaran.github.io/assets/webfont/AppleGaramond.svg#AppleGaramond') format('svg');
    font-weight: normal;
    font-style: normal;
}

// colors
$color__black:      #3D5D86;
$color__gray:       #3D5D86;
$color__beige:      #F3F3F3;
$color__yellow:     #EAEAEA;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// elements
* {
  box-sizing: border-box;
}

::selection {
    background: $color__black;
    color: $color__beige;
}

::-moz-selection {
    background: $color__black;
    color: $color__beige;
}

hr {
    color: $color__black;
    background-color: $color__black;
    padding: 0;
}

h1 {
  font-family: 'Apple Garamond';
  font-size: 50px;
  font-weight: normal;
  line-height: 1;
  color: $color__black;
  font-display: block;
}

a {
  color: $color__black;
  text-decoration: underline;

  &:visited {
    text-decoration: line-through;
  }
    
  &:hover {
    text-decoration: line-through;
  }
    
  &:active {
    text-decoration: line-through;
  }
}

// layout
html {
  overflow-x: hidden;
  overflow-y: scroll;
}

figcaption {
    font-size: 13px;
    text-align: center;
    font-style: italic;
}

body {
  width: 100%;
  margin: 25px 0;
  padding: 0;
  background: $color__beige;
  font-family: $font__name;
  font-size: $font__size;
  font-weight: $font__weight;
  line-height: $font__line-height;
  color: $color__black;
}

.container {
  max-width: 1200px;
  margin: 0 25px;
}

// media queries
@include media-query($on-palm) {
  body {
    margin: 50px 0 25px;
  }

  .container {
    margin: 0 50px;
  }
}

@include media-query($on-laptop) {
  body {
    margin: 120px 0 50px;
  }

  .container {
    margin: 0 120px;
  }
}
