<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    <div class="container">
      {% include header.html uid="https://phoemelaballaran.github.io/about/" %}
      <div class="post">
        
        <div class="post__meta">
          <div class="post__title">{{ page.title }}</div>
        </div>

        <div class="post__body">
          {{ content }}
        </div>
      </div>
      
      <br><br><a  href="https://phoemelaballaran.github.io">Back to index</a>
      
    </div>
  </body>
</html>
